@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

/*Кнопки*/
.button-blue {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.button-brown {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

.button-green {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
}
.pagination-current {
  background-color: #F2F2F2;
}

/*Поля форм*/
input.field {
  font-family: "PT Sans";
}

input.control-input {
  font-family: "PT Sans";
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.user-menu-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.user-menu-link.button-brown {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.main-image {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages-sedona-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.advantages-sedona-reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  text-align: center;
}

.number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.number-white {
  color: #ffffff;
}

.advantages-title-white,
.advantages-description-white {
  color: #ffffff;
}

.advantages-item-blue {
  background-color: #82B3D3;
}

.advantages-list-city {
  background-color: #ffffff;
}

.advantages-description-gray {
  color: #333333;
}

.advantages-image-first {
  background-image: url("../images/index/advantages-photo-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.advantages-image-second {
  background-image: url("../images/index/advantages-photo-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.hotel-search {
  text-align: center;
}

.hotel-search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.hotel-search-link.button-brown {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.footer-subscription {
  background-image: url("../images/footer/footer-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.button-newsletter {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.inner-header {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.catalog-hotel {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}

.breadcrumbs-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.control-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.control-input-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/*Фон для фильтров как вставить?*/
.filter-container {
  background-image: url("../images/catalog/filter-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-sorting-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.hotel-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.hotel-description-link {
  text-decoration: none;
}

.pagination-link {
  text-decoration: none;
}

